Attachments/*
Concepts/*
Daily Notes/*
Extras/*/*
KP/*
Personal/*
Pike
Obsidian Notes.md
.DS_Store

!Attachments/Karbon Partners Logo.avif
!Concepts/KB/ISO 27001.md
!Daily Notes/2025-01-28.md
!Extras/Attachments/Karbon Partners Logo.avif
!Extras/Meetings/2025-01-28 Discussion of ideals.md
!Extras/People/person filler.md
!Extras/MOCs/MOC filler.md
!Extras/Clippings/clippings.md
!Extras/Templates/*
!KP/KP.md
!Personal/personal.md